//Colours
$c-black: #1a1a1a;
$c-white: #fff;
$c-c: #000202;
$c-c2: #F9FFE5;
$c-blue: #062F4D;

// Fonts
$primary: 'worksans';
$primary-medium: 'worksansmedium';
$primary-light: 'worksanslight';
$primary-bold: 'worksansbold';
$primary-extrabold: 'worksansextrabold';
$primary-semibold: 'worksanssemibold';


$secondary: 'ebgaramond';
$secondary-italic: 'ebgaramonditalic';
$secondary-semibold: 'ebgaramondsemibold';
$secondary-bold: 'ebgaramondbold';
$secondary-extrabold: 'ebgaramondextrabold';

$syne: "syne";
$syne-bold: "synebold";
$syne-extrabold: "syneextrabold";
$syne-semibold: "synesemibold";
$syne-medium: "synemedium";